<div
  style='background-color: #000000; color: #ffffff !important; padding: 1.5rem 1.5rem;'
>
  <table
    style='width: 80%; border: none; margin-left: auto; margin-right: auto; padding-bottom: 1rem'
  >
    <tr>
      <td>
        <p style='color: #ffffff !important; font-size: 0.75rem'>
          Soluție proiectată, dezvoltată și administrată pro-bono de
        </p>
      </td>
      <td>
        <img
          class='logo'
          style='width:140px'
          src={{asset_url 'code4romania_logo_new.png'}}
        />
      </td>
    </tr>
  </table>

  <div style='width: 100%; height: 1px; background: #ffffff'></div>

  <p
    style='
  text-align: center;
  width: 100%;
  color: #ffffff !important;
  font-size: 0.75rem;
  margin-top: 1.5rem
'
  >
    Dacă vrei să iei legătura cu noi o poți face pe e-mail la adresa:
    <a
      style='color: #ffffff !important; font-size: 0.75rem;'
      href='mailto:{{contactEmail}}'
    >{{contactEmail}}</a>
  </p>

  <table
    style='width: 50%; border: none; margin-left: auto; margin-right: auto; padding-top: 1rem'
  >
    <tr>
      <td style='width: 30px; height: 30px'>
        <a
          style='text-decoration: none; color: #1a15ea'
          href='https://www.facebook.com/code4romania/'
          target='_blank'
        >
          <img class='icon' src={{asset_url 'facebook_logo.png'}} />
        </a>
      </td>
      <td style='width: 30px; height: 30px'>
        <a
          style='text-decoration: none; color: #1a15ea'
          href='https://www.instagram.com/code4romania'
          target='_blank'
        >
          <img class='icon' src={{asset_url 'instagram_logo.png'}} />
        </a>
      </td>
      <td style='width: 30px; height: 30px'>
        <a
          style='text-decoration: none; color: #1a15ea'
          href='https://www.youtube.com/@codeforromania5856'
          target='_blank'
        >
          <img class='icon' src={{asset_url 'youtube_logo.png'}} />
        </a>
      </td>
      <td style='width: 30px; height: 30px'>
        <a
          style='text-decoration: none; color: #1a15ea'
          href='https://github.com/code4romania/'
          target='_blank'
        >
          <img class='icon' src={{asset_url 'github_logo.png'}} />
        </a>
      </td>
    </tr>
  </table>
</div>
`